@import './styles/pause-modal';

* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #ff7043;
  margin: 0;
}

#content {
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 1px 1px 5px #3c3c3c;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#game {
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  max-width: 100%;
}

#player-score-container {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 0 1px 10px #3c3c3c;
}

#current-score::after {
  content: ' | ';
}

html.touch {
  h1 {
    display: none;
  }

  $score-height: 10vh;
  $score-padding: 3vh;

  #player-score-container {
    margin-bottom: 0;
    height: $score-height;
    padding-top: $score-padding / 3;
    padding-bottom: $score-padding / 3;
    line-height: 1;
  }

  #current-score {
    display: block;
    font-size: ($score-height - $score-padding) / 5 * 3;
    margin-bottom: $score-padding / 3;

    &::after {
      content: '';
    }
  }

  #highscore {
    display: block;
    font-size: ($score-height - $score-padding) / 5 * 2;
  }

  #game {
    height: 100vh - $score-height;
    display: block;
    margin: auto;
  }

  &.ios-safari #game {
    // The iOS safari menu is not calculated into the CSS vh
    height: calc(#{100vh - $score-height} - 69px);
  }
}
