* {
  box-sizing: border-box;
}

body {
  background-color: coral;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

#content {
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 1px 1px 5px #3c3c3c;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#game {
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  max-width: 100%;
}

#player-score-container {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 0 1px 10px #3c3c3c;
}

@media screen and (max-device-width: 425px) {
  h1 {
    display: none;
  }

  #player-score-container {
    margin-bottom: 0;
    height: 8vh;
    font-size: 4vh;
    padding-top: 1vh;
  }

  #game {
    height: calc(92vh - 69px);
    display: block;
    margin: auto;
  }
}
